* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: lightgray;
}

#topbar {
    background-color: maroon;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 50px 0px;
}

#topbar img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: lightgrey;
}

#topbar h1 {
    font-size: 70px;
}

.middlebarlarge {
    background-color: rgb(75, 6, 6);
    padding: 20px;
}

.middlebarlarge ul {
    list-style: none;
    color: white;
    display: flex;
    justify-content: space-around;
}

.middlebarlarge ul li img {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: lightgray;
}

.middlebarlarge ul li a {
    font-size: 19px;
}

#bodybar {
    background-color: lightgray;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px
}

#bodybar div {
    width: 45%;
}